
nav{
    background-color: aliceblue;
    padding:20px;
}
nav div, nav h3{
    text-align: center;
    font-weight: bold;
}
.time_widget{
    background-color: azure;
    font-weight: bolder;
    text-align: center;
}
.button_widget{  
 }

footer span{
    text-align: center;
}