<html>
  <head>
    <title>Apify Blog</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <ul id="navlist" style="height:100px">
          <li class="apify"><a href="https://apify.com">Apify.com</a></li>
          <li class="store"><a href="https://apify.com/store">Apify Store</a></li>
          <li class="documentation"><a href="https://apify.com/docs">Documentation</a></li>
          <li class="help"><a href="https://apify.com/help">Help</a></li>
        </ul>
      </div>
    </header>
    <div class="post">
      <h2 class="title">First Blog</h2>
      <p class="content">
        Python and APIs - Part 1: How to use Python to connect and interact with
        APIs
        <a href="https://blog.apify.com/python-and-apis/">Click here</a>
        In the first part of this Python and APIs series, you'll learn how to
        use Python to connect and interact with APIs.
      </p>
    </div>
    <div class="post">
      <h2 class="title">Second Blog</h2>
      <p class="content">
        6 things you should know before buying or building a web scraper:
        <a href="https://blog.apify.com/6-things-to-know-about-web-scraping/">Click here</a>
        From understanding the complexity of target websites to legal
        considerations, discover what we wish we'd been telling our customers
        from day one.
      </p>
    </div>
  </body>
</html>